@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-image: url(./Media/page-background.png);
}


/* Styling of the navigation area and its nested elements */

.nav-area {
    background-color: #fff;
    border-bottom: 4px solid #960000;
    height: 98px;
}

nav {
    padding: 0 15px;
    margin: 0 55px;
    display: flex;
    align-items: center;
    height: 100%;
}

nav .logo {
    height: 78px;
    display: flex;
    align-items: center;
    padding-right: 8.4px;
    border-right: 1px solid rgba(153,153,153, 0.2);
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 4.5px;
    height: 100%;
}

.nav-menu li {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-menu li>a {
    text-decoration: none;
    color: #999;
    font-size: 1.2em;
    padding: 2.2em 0.6em;
    cursor: pointer;
}

.nav-menu li>a:hover {
    background-color: #960000;
    height: 100%;
}
/* ==================================================== */


/* Styling of the welcome area and its nested elements */

.welcome-area {
    background-color: rgba(26, 121, 40, 0.9);
    width: 100%;
    height: 53px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

h1 {
    width: 100%;
    margin: 0 55px;
    padding: 0 15px;
    color: #fafafa;
    font-weight: normal;
    font-size: 2.3em;
}
/* ======================================================= */


/* Styling for the white section */

.white-section {
    background-color: #fff;
    padding: 0px 15px 15px 15px;
    margin-bottom: 60px;
    width: 100%;
}
/* ============================== */


/* Styling of section one of the white section, and its nested elements */

.content-row1 {
    padding: 0 15px;
    margin: 0px 0px 40px 50px;
    display: flex;
}
.registration-content {
    width: 60.2%;
    background-color: white;
    background-clip:padding-box;
    border-radius: 5px;
    box-shadow: 0 0 3px #999;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.registration-content>p {
    color: rgb(83, 91, 96);
    font-size: large;
    margin-bottom: 13px;
}

.login-content {
    width: 39.8%;
    height: 119px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.login-text {
    margin: 15px 0px 9px;
}

.login-text>a {
    text-decoration: none;
    color: #53555C;
    font-size: 18px;
    font-weight: bold;
}

.login-text>a:hover {
    text-decoration: underline;
}

.content-row2 {
    background-color: white;
    background-clip:padding-box;
    border-radius: 5px;
    box-shadow: 0 0 3px #999;
    height: 282px;
    padding: 30px 20px;
    margin: 40px 65px 40px 65px;
}

.content-row2 a>img {
    max-width: 100%;
    height: auto;
    display: block;
}

.content-row3 {
    background-color: white;
    background-clip: padding-box;
    border-radius: 5px;
    box-shadow: 0 0 3px #999;
    height: 113px;
    margin: 40px 65px 55px 65px;
    padding: 30px 20px;
    text-align: center;
}

.info1 {
    display: inline-block;
    color: #c70d0d;
    font-size: 25px;
    margin-bottom: 6px;
}

.tooltip {
    color: #4f8db3;
    text-decoration: none;
    font-size: 15px;
}

.tooltip:hover {
    text-decoration: underline;
}

.tooltip>span {
    display: none;
}

.tooltip:hover span {
    margin-top: 5px;
    padding: 5px;
    display: block;
    z-index: 100;
    border-radius: 5px;
    background-color: rgba(26, 121, 40, 0.9);
    color: #fff;
    font-size: 12px;
    width: 200px;
    height: 200px;
    position: relative;
    left: 41%;
    line-height: 1.5em;
    text-decoration: none;
}
/* =================================================================== */


/* Styling for section two and its nested elements */

.section2 {
    height: 240px;
    margin: 55px 65px 11px 65px;
}

.items-container {
    height: 238px;
    display: flex;
    justify-content: space-between;

}

.section2 .items-container>.item {
    background-color: white;
    background-clip:padding-box;
    border-radius: 5px;
    box-shadow: 0 0 3px #999;
    width: 30.5%;
    height: 217px;
    padding: 30px 20px;
    text-align: center;
    cursor: pointer;
}

.section2 .items-container>.item a {
    text-decoration: none;
    color: rgb(66, 145, 194);
}

.section2 .items-container>.item a:hover {
    text-decoration: underline;
    color: rgb(39, 95, 129);
}


.section2 .items-container>.item a>h3 {
    font-weight: 700;
    background-color: rgba(0, 124, 0, 0.2);
    border-radius: 0.6em;
    text-decoration: none;
    color: #030;
    font-size: 1.2em;
    margin: 8px 0;
    padding: 0.6em 0.4em 0.6em 0.7em;
}

.section2 .items-container>.item a>p {
    margin-top: 15px;
}
/* ======================================================== */


/* Styling for section three and its nested elememts */

.section3 {
    height: 358px;
    margin: 0 28px;
}

.section3-heading, .section4-heading {
    font-weight: 700;
    color: #53555C;
    font-size: 2em;
    padding-left: 10px;
    border-bottom: 2px solid #53555C;
    margin: 0 25px;
    line-height: 1.5em;
}

.row-container {
    height: 304px;
    margin: 10px 12px;
    display: flex;
}

.row-item {
    width: 25%;
    background-color: #fafafa;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    height: 244px;
    margin: 20px 0;
    padding: 20px;
    transform: scale(1);
    transition: all 0.3s ease-in;
}

.row-item:hover {
    transform: scale(1.001);
    z-index: 4;
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.9);
}

.column2-item:hover {
    transform: scale(1.001);
    z-index: 10;
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.9);
}

.row-item h2 {
    margin-bottom: 20px;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    border-bottom: 1px dashed #d2d2d2;
    color: #595f6b;
}

.row-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.column1-item {
    background-clip: padding-box;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.special-column {
    width: 25%;
    z-index: 4;
}

.column3-item {
    background-color: #fff;
    border-radius: 7px;
    background-clip: padding-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition: all 0.3s ease-in;
}

.column3-item:hover {
    transform: scale(1.001);
    z-index: 4;
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.9);
}

.column3-item h2 {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #595f6b;
    border-bottom: 1px dashed #d2d2d2;
}

.column4-item {
    background-clip: padding-box;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
/* ====================================================== */


/* Styling for section four and its nested elements */

.section4 {
    height: 206px;
    padding: 15px 0px 0px 0px;
    margin-bottom: 30px;
}

.information-container {
    margin: 0 20px 0px 20px;
    padding: 0 15px;
    height: 206px;
}

.section4-heading {
    padding-left: 10px;
    margin-left: 20px;
    margin-bottom: 9px;
}

.info-row {
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
}

.info-box {
    margin-top: 6px;
    padding: 0 15px;
    width: 30%;
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: inset 0 1px #fff, 0 1px 2px #c8cfe6;
    background-color: #fff;
}

.info-box p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: rgb(66, 145, 194);;
    text-decoration: none;
}

.info-box p>a {
    font-size: 15.75px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(66, 145, 194);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.info-box p>a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(39, 95, 129);
    color: rgb(39, 95, 129);
}

.info-content1,
.info-content2,
.info-content3 {
    padding: 20px 20px 20px 0px;
    margin: 0px 10px 20px 10px;
}

.info-box1 {
    height: 127px;
}

.info-box2, .info-box3 {
    height: 83px;
}
/* ============================================================ */


/* Styling for the footer section and its nested elements */

footer {
    background-color: #003500;
    height: 59px;
    border-top: 4px solid #960000;
    box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.4);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 4;
    padding: 0 20px 10px 20px;
}

.copyright-container {
    padding: 0 15px;
    margin: 0 15px;
    display: flex;
    transform: translateY(98%);
    font-family: Arial, Helvetica, sans-serif;
}

.powered-by {
    width: 33.3%;
    padding: 0px 15px;
}

.powered-by p {
    text-align: center;
    font-size: 12.6px;
    color: white;
}

.powered-by p>a {
    text-decoration: none;
    color: white;
}

.powered-by p>a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255);
    text-decoration-thickness: 1px;
}

.footer-copyright {
    width: 50%;
    padding: 0 15px;
}

.footer-copyright>p {
    text-align: center;
    color: #dddddd;
    font-size: 12.6px;
}

.footer-copyright p>a {
    text-decoration: none;
    cursor: pointer;
    color:rgb(79, 141, 179);
}

.footer-copyright p>a:hover {
    text-decoration: underline;
    color: rgba(39, 95, 129, 0.7);
}

/* ========================================================== */